{
  "root": true,
  "extends": ["@nuxt/eslint-config"],
  "rules": {
    "vue/max-attributes-per-line": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/html-self-closing": "off"
  },
  "ignorePatterns": ["node_modules", "dist/*"]
}
